.main
{
    display: grid;
    grid-template-columns: auto min-content auto;
    justify-content: center;
    background: transparent;
}
form
{
    display: grid;
    grid-template-columns: auto repeat(2,min-content) auto;
    grid-template-rows: repeat(8,auto);
    column-gap: 0.5em;
    row-gap: 0.4em;
    white-space: nowrap;
    padding-top: 1em;
    background: rgb(231, 231, 231) ;
    font-size: 1.2em;
    border-style: solid;
border-width: 2px;
border-color: rgb(145, 145, 145);
border-radius: 1em;
}
.label1
{
grid-area: 1/2/2/3;
}
.label2
{
grid-area: 2/2/3/3;
}
.label3
{
    grid-area: 3/2/4/3;
}
.label4
{
    grid-area: 4/2/5/3;
}
.label5
{
    grid-area: 5/2/6/3;
}
.label6
{
    grid-area: 6/2/7/3;
}
.label
{
    color: rgb(63, 63, 63);
    cursor: pointer;
    justify-self: left;
    align-self: center;
}
.input1
{
    grid-area: 1/3/2/4;
}
.input2
{
    grid-area: 2/3/3/4;

}
.input3
{
    grid-area: 3/3/4/4;

}
.input4
{
    grid-area: 4/3/5/4;

}
.input5
{
    grid-area: 5/3/6/4;

}
.input6
{
    grid-area: 6/3/7/4;

}
.input
{
    color: rgb(63, 63, 63);
    background: rgb(206, 204, 204);
    border-radius: 0.5em;
    padding: 0.4em;
    font-size: 0.8em;
}
.formbutton
{
    grid-area: 7/2/8/4;
    background: rgb(153, 153, 153);
    border-style: solid;
    border-color: rgb(63, 63, 63);
    border-radius: 0.5em;
    font-size: 1em;
    padding: 0.4em;
    transition: 0.2s;
    cursor: pointer;
}
.formbutton:hover
{
    color: white;
}
.log_in
{
    grid-area: 8/2/9/4;
}
.log_in a
{
    color: rgb(141, 140, 140);
    transition: 0.7s;
}
.log_in a:hover
{
    color: black;
}
#ty
{
    display: none;
    color: green;
}