* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li
{
    list-style-type: none;
}

/*main navigation*/
.fullsubnav, .nav
{
    display: none;
}

/*main content*/
.main {
    height: 700px;
    background-image: url("/res/photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }